In [ ]:
from IPython.display import display
import duckdb

# Caminho para o banco de dados DuckDB
db_path = 'D:\\GitHub\\projeto_Analytics_Engineering\\data_quality\\silver_1.duckdb'

## Tabela listings:

### Colunas e tipo de colunas

In [ ]:
# Conectar ao banco de dados
conn = duckdb.connect(database=db_path)

# Consulta SQL para pegar todas as colunas e seus tipos da tabela 'listings'
query = """
SELECT column_name, data_type
FROM information_schema.columns
WHERE table_name = 'listings'
ORDER BY ordinal_position;
"""

# Executar a consulta
result = conn.execute(query).fetchall()

# Fechar a conexão
conn.close()

# Exibir os resultados
for row in result:
    print(f"Coluna: {row[0]}, Tipo: {row[1]}")

Coluna: id, Tipo: BIGINT
Coluna: listing_url, Tipo: VARCHAR
Coluna: scrape_id, Tipo: BIGINT
Coluna: last_scraped, Tipo: DATE
Coluna: source, Tipo: VARCHAR
Coluna: name, Tipo: VARCHAR
Coluna: description, Tipo: VARCHAR
Coluna: neighborhood_overview, Tipo: VARCHAR
Coluna: picture_url, Tipo: VARCHAR
Coluna: host_id, Tipo: BIGINT
Coluna: host_url, Tipo: VARCHAR
Coluna: host_name, Tipo: VARCHAR
Coluna: host_since, Tipo: DATE
Coluna: host_location, Tipo: VARCHAR
Coluna: host_about, Tipo: VARCHAR
Coluna: host_response_time, Tipo: VARCHAR
Coluna: host_response_rate, Tipo: VARCHAR
Coluna: host_acceptance_rate, Tipo: VARCHAR
Coluna: host_is_superhost, Tipo: BOOLEAN
Coluna: host_thumbnail_url, Tipo: VARCHAR
Coluna: host_picture_url, Tipo: VARCHAR
Coluna: host_neighbourhood, Tipo: VARCHAR
Coluna: host_listings_count, Tipo: BIGINT
Coluna: host_total_listings_count, Tipo: BIGINT
Coluna: host_verifications, Tipo: VARCHAR
Coluna: host_has_profile_pic, Tipo: BOOLEAN
Coluna: host_identity_verified, Tipo: BOOLEAN
Coluna: neighbourhood, Tipo: VARCHAR
Coluna: neighbourhood_cleansed, Tipo: VARCHAR
Coluna: neighbourhood_group_cleansed, Tipo: VARCHAR
Coluna: latitude, Tipo: DOUBLE
Coluna: longitude, Tipo: DOUBLE
Coluna: property_type, Tipo: VARCHAR
Coluna: room_type, Tipo: VARCHAR
Coluna: accommodates, Tipo: BIGINT
Coluna: bathrooms, Tipo: DOUBLE
Coluna: bathrooms_text, Tipo: VARCHAR
Coluna: bedrooms, Tipo: BIGINT
Coluna: beds, Tipo: BIGINT
Coluna: amenities, Tipo: VARCHAR
Coluna: price, Tipo: VARCHAR
Coluna: minimum_nights, Tipo: BIGINT
Coluna: maximum_nights, Tipo: BIGINT
Coluna: minimum_minimum_nights, Tipo: BIGINT
Coluna: maximum_minimum_nights, Tipo: BIGINT
Coluna: minimum_maximum_nights, Tipo: BIGINT
Coluna: maximum_maximum_nights, Tipo: BIGINT
Coluna: minimum_nights_avg_ntm, Tipo: DOUBLE
Coluna: maximum_nights_avg_ntm, Tipo: DOUBLE
Coluna: calendar_updated, Tipo: VARCHAR
Coluna: has_availability, Tipo: BOOLEAN
Coluna: availability_30, Tipo: BIGINT
Coluna: availability_60, Tipo: BIGINT
Coluna: availability_90, Tipo: BIGINT
Coluna: availability_365, Tipo: BIGINT
Coluna: calendar_last_scraped, Tipo: DATE
Coluna: number_of_reviews, Tipo: BIGINT
Coluna: number_of_reviews_ltm, Tipo: BIGINT
Coluna: number_of_reviews_l30d, Tipo: BIGINT
Coluna: first_review, Tipo: DATE
Coluna: last_review, Tipo: DATE
Coluna: review_scores_rating, Tipo: DOUBLE
Coluna: review_scores_accuracy, Tipo: DOUBLE
Coluna: review_scores_cleanliness, Tipo: DOUBLE
Coluna: review_scores_checkin, Tipo: DOUBLE
Coluna: review_scores_communication, Tipo: DOUBLE
Coluna: review_scores_location, Tipo: DOUBLE
Coluna: review_scores_value, Tipo: DOUBLE
Coluna: license, Tipo: VARCHAR
Coluna: instant_bookable, Tipo: BOOLEAN
Coluna: calculated_host_listings_count, Tipo: BIGINT
Coluna: calculated_host_listings_count_entire_homes, Tipo: BIGINT
Coluna: calculated_host_listings_count_private_rooms, Tipo: BIGINT
Coluna: calculated_host_listings_count_shared_rooms, Tipo: BIGINT
Coluna: reviews_per_month, Tipo: DOUBLE

### Início da tabela

In [2]:
# Conectar ao banco de dados
conn = duckdb.connect(database=db_path)

# Consulta SQL para pegar as primeiras 5 linhas da tabela 'listings'
query = """
SELECT * FROM listings;
"""

# Executar a consulta
result = conn.execute(query).fetchdf()

# Fechar a conexão
conn.close()

# Exibir os resultados
display(result)

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,230989,https://www.airbnb.com/rooms/230989,20240627045056,2024-06-28,city scrape,Nice Flat in Copacabana Ocean View,"Very nice studio, half block away from Copacab...","Excellent part of Copacabana, close to Ipanema.",https://a0.muscache.com/pictures/3561412/a88c5...,1207700,...,4.92,4.86,4.57,None,False,4,4,0,0,1.05
1,231105,https://www.airbnb.com/rooms/231105,20240627045056,2024-06-28,city scrape,10 Suíte,Verano Stay - Rio 2 Condominium Close to Rioce...,"Barra da Tijuca, the neighborhood that grows i...",https://a0.muscache.com/pictures/111827806/1b9...,1208327,...,4.97,4.90,4.79,None,False,8,8,0,0,0.90
2,231497,https://www.airbnb.com/rooms/231497,20240627045056,2024-06-28,city scrape,Nice big studio in Copacabana,"This is a big studio at the end of Copacabana,...",None,https://a0.muscache.com/pictures/3582382/ee8ac...,1207700,...,4.93,4.89,4.67,None,False,4,4,0,0,0.57
3,48901,https://www.airbnb.com/rooms/48901,20240627045056,2024-06-28,city scrape,Large /equipped 4BD 3BT on Atlantic ave Copaca...,Spacious 4 bedrooms 2 Complete washrooms 1 toi...,"Plenty of shops, entertainment andrestaurants<...",https://a0.muscache.com/pictures/hosting/Hosti...,222884,...,4.90,4.93,4.57,None,False,2,2,0,0,0.28
4,236991,https://www.airbnb.com/rooms/236991,20240627045056,2024-06-28,city scrape,PRAIA DE COPACABANA!! 1 BLOCK FROM THE BEACH,"Cozy, spacious, basic, airy, lit with natural ...","Copacabana, nicknamed the little princess of t...",https://a0.muscache.com/pictures/5725a59b-147d...,1241662,...,4.96,4.97,4.90,None,False,2,2,0,0,0.71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34659,1186981497123032289,https://www.airbnb.com/rooms/1186981497123032289,20240627045056,2024-06-28,city scrape,Hotel Windham lindo flat,"Super full room, very cozy in great location",None,https://a0.muscache.com/pictures/hosting/Hosti...,585674641,...,NaN,NaN,NaN,None,False,1,0,1,0,NaN
34660,1187078788620039832,https://www.airbnb.com/rooms/1187078788620039832,20240627045056,2024-06-28,city scrape,Quarto em Copacabana prx a praia,Accommodation a few meters from Copacabana bea...,None,https://a0.muscache.com/pictures/hosting/Hosti...,566436290,...,NaN,NaN,NaN,None,False,1,0,1,0,NaN
34661,1184700608791969952,https://www.airbnb.com/rooms/1184700608791969952,20240627045056,2024-06-27,city scrape,Quarto em Rio de Janeiro,"Private Room (Suite) with bicama, in the house...",None,https://a0.muscache.com/pictures/hosting/Hosti...,157827628,...,NaN,NaN,NaN,None,False,1,0,1,0,NaN
34662,1184818035513976907,https://www.airbnb.com/rooms/1184818035513976907,20240627045056,2024-06-28,city scrape,Confortável 02 quartos Com Garagem Proximo Metro,Relax with the whole family in this quiet acco...,None,https://a0.muscache.com/pictures/hosting/Hosti...,71645815,...,NaN,NaN,NaN,None,True,23,20,3,0,NaN
34663,1184844634544738969,https://www.airbnb.com/rooms/1184844634544738969,20240627045056,2024-06-28,city scrape,Studio Pé Na Areia | 4min. Praia,Welcome to our cozy Studio Foot in Sand in Cop...,None,https://a0.muscache.com/pictures/miso/Hosting-...,568054601,...,NaN,NaN,NaN,None,False,1,1,0,0,NaN

## Tabela calendar:

### Colunas e tipo de colunas

In [10]:
# Conectar ao banco de dados
conn = duckdb.connect(database=db_path)

# Consulta SQL para pegar todas as colunas e seus tipos da tabela 'calendar'
query = """
SELECT column_name, data_type
FROM information_schema.columns
WHERE table_name = 'calendar'
ORDER BY ordinal_position;
"""

# Executar a consulta
result = conn.execute(query).fetchall()

# Fechar a conexão
conn.close()

# Exibir os resultados
for row in result:
    print(f"Coluna: {row[0]}, Tipo: {row[1]}")

Coluna: listing_id, Tipo: BIGINT
Coluna: date, Tipo: DATE
Coluna: available, Tipo: BOOLEAN
Coluna: price, Tipo: VARCHAR
Coluna: adjusted_price, Tipo: VARCHAR
Coluna: minimum_nights, Tipo: BIGINT
Coluna: maximum_nights, Tipo: BIGINT

### Início da tabela

In [ ]:
# Conectar ao banco de dados
conn = duckdb.connect(database=db_path)

# Consulta SQL para pegar as primeiras 5 linhas da tabela 'calendar'
query = """
SELECT * FROM calendar
LIMIT 5;
"""

# Executar a consulta
result = conn.execute(query).fetchdf()

# Fechar a conexão
conn.close()

# Exibir os resultados
display(result)

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,4905170,2025-06-17,True,$170.00,None,3,1125
1,4905170,2025-06-20,True,$170.00,None,3,1125
2,4905170,2025-06-23,True,$170.00,None,3,1125
3,5529385,2024-10-11,True,$375.00,None,2,5
4,5529385,2024-10-12,True,$375.00,None,2,4

## Tabela reviews:

### Colunas e tipo de colunas

In [12]:
# Conectar ao banco de dados
conn = duckdb.connect(database=db_path)

# Consulta SQL para pegar todas as colunas e seus tipos da tabela 'reviews'
query = """
SELECT column_name, data_type
FROM information_schema.columns
WHERE table_name = 'reviews'
ORDER BY ordinal_position;
"""

# Executar a consulta
result = conn.execute(query).fetchall()

# Fechar a conexão
conn.close()

# Exibir os resultados
for row in result:
    print(f"Coluna: {row[0]}, Tipo: {row[1]}")

Coluna: listing_id, Tipo: BIGINT
Coluna: id, Tipo: BIGINT
Coluna: date, Tipo: DATE
Coluna: reviewer_id, Tipo: BIGINT
Coluna: reviewer_name, Tipo: VARCHAR
Coluna: comments, Tipo: VARCHAR

### Início da tabela

In [ ]:
# Conectar ao banco de dados
conn = duckdb.connect(database=db_path)

# Consulta SQL para pegar as primeiras 5 linhas da tabela 'reviews'
query = """
SELECT * FROM reviews
LIMIT 5;
"""

# Executar a consulta
result = conn.execute(query).fetchdf()

# Fechar a conexão
conn.close()

# Exibir os resultados
display(result)

,listing_id,id,date,reviewer_id,reviewer_name,comments
0,17878,64852,2010-07-15,135370,Tia,This apartment is in a perfect location -- two...
1,17878,76744,2010-08-11,10206,Mimi,we had a really great experience staying in Ma...
2,17878,91074,2010-09-06,80253,Jan,Staying in Max appartment is like living in a ...
3,17878,137528,2010-11-12,230449,Orene,In general very good and reasonable price.\r<b...
4,17878,147594,2010-12-01,219338,David,The apt was nice and in a great location only ...