In [1]:
import pandera as pa
from pandera import Column, DataFrameSchema, Check
import re
import duckdb
import pandas as pd

# Caminho para o banco de dados DuckDB
db_path = "D:\\GitHub\\projeto_Analytics_Engineering\\data_quality\\silver_1.duckdb"

In [6]:
# Função para validar o formato monetário como uma string
def check_price_format(val):
    return bool(re.match(r"^\$\d+(,\d{3})*(\.\d{2})?$", val))

# Definindo o esquema para a tabela "listings"
listings_schema = DataFrameSchema({
    "id": Column(pa.Int64, checks=Check.greater_than(0), nullable=False),  # ID não nulo e maior que 0
    "neighbourhood_cleansed": Column(pa.String, nullable=False),           # Bairro não nulo
    #"price": Column(pa.String, checks=Check(check_price_format, element_wise=True), nullable=False),  # Preço obrigatório, formato monetário
    "number_of_reviews": Column(pa.Int64, checks=Check.greater_than_or_equal_to(0), nullable=False),   # Número de avaliações, não pode ser nulo, mínimo de 0
    #"review_scores_rating": Column(pa.Float64, checks=Check.in_range(0, 5), nullable=False)          # Pontuação entre 0 e 5, não pode ser nulo
})

In [ ]:
# Conectando ao banco de dados DuckDB
conn = duckdb.connect(database=db_path, read_only=False)

# Carregando os dados da tabela "listings"
df_listings = conn.execute("SELECT distinct * FROM listings").fetchdf()

# Validando o DataFrame com Pandera
try:
    validated_listings_df = listings_schema.validate(df_listings)
    print("Dados validados com sucesso:")
    print(validated_listings_df)
except pa.errors.SchemaError as e:
    print("Erro na validação dos dados:", e)
finally:
    conn.close()  # Fechando a conexão com o banco de dados

Dados validados com sucesso:
                        id                                       listing_url  \
0                   230989               https://www.airbnb.com/rooms/230989
1                   231105               https://www.airbnb.com/rooms/231105
2                   231497               https://www.airbnb.com/rooms/231497
3                    48901                https://www.airbnb.com/rooms/48901
4                   236991               https://www.airbnb.com/rooms/236991
...                    ...                                               ...
34659  1186981497123032289  https://www.airbnb.com/rooms/1186981497123032289
34660  1187078788620039832  https://www.airbnb.com/rooms/1187078788620039832
34661  1184700608791969952  https://www.airbnb.com/rooms/1184700608791969952
34662  1184818035513976907  https://www.airbnb.com/rooms/1184818035513976907
34663  1184844634544738969  https://www.airbnb.com/rooms/1184844634544738969

            scrape_id last_scraped       source  \
0      20240627045056   2024-06-28  city scrape
1      20240627045056   2024-06-28  city scrape
2      20240627045056   2024-06-28  city scrape
3      20240627045056   2024-06-28  city scrape
4      20240627045056   2024-06-28  city scrape
...               ...          ...          ...
34659  20240627045056   2024-06-28  city scrape
34660  20240627045056   2024-06-28  city scrape
34661  20240627045056   2024-06-27  city scrape
34662  20240627045056   2024-06-28  city scrape
34663  20240627045056   2024-06-28  city scrape

                                                    name  \
0                    Nice Flat in Copacabana  Ocean View
1                                               10 Suíte
2                          Nice big studio in Copacabana
3      Large /equipped 4BD 3BT on Atlantic ave Copaca...
4         PRAIA DE COPACABANA!!   1 BLOCK FROM THE BEACH
...                                                  ...
34659                           Hotel Windham lindo flat
34660                   Quarto em Copacabana prx a praia
34661                           Quarto em Rio de Janeiro
34662   Confortável 02 quartos Com Garagem Proximo Metro
34663                   Studio Pé Na Areia | 4min. Praia

                                             description  \
0      Very nice studio, half block away from Copacab...
1      Verano Stay - Rio 2 Condominium Close to Rioce...
2      This is a big studio at the end of Copacabana,...
3      Spacious 4 bedrooms 2 Complete washrooms 1 toi...
4      Cozy, spacious, basic, airy, lit with natural ...
...                                                  ...
34659       Super full room, very cozy in great location
34660  Accommodation a few meters from Copacabana bea...
34661  Private Room (Suite) with bicama, in the house...
34662  Relax with the whole family in this quiet acco...
34663  Welcome to our cozy Studio Foot in Sand in Cop...

                                   neighborhood_overview  \
0        Excellent part of Copacabana, close to Ipanema.
1      Barra da Tijuca, the neighborhood that grows i...
2                                                   None
3      Plenty of shops, entertainment andrestaurants<...
4      Copacabana, nicknamed the little princess of t...
...                                                  ...
34659                                               None
34660                                               None
34661                                               None
34662                                               None
34663                                               None

                                             picture_url    host_id  ...  \
0      https://a0.muscache.com/pictures/3561412/a88c5...    1207700  ...
1      https://a0.muscache.com/pictures/111827806/1b9...    1208327  ...
2      https://a0.muscache.com/pictures/3582382/ee8ac...    1207700  ...
3      https://a0.muscache.com/pictures/hosting/Hosti...     222884  ...
4      https://a0.muscache.com/pictures/5725a59b-147d...    1241662  ...
...                                                  ...        ...  ...
34659  https://a0.muscache.com/pictures/hosting/Hosti...  585674641  ...
34660  https://a0.muscache.com/pictures/hosting/Hosti...  566436290  ...
34661  https://a0.muscache.com/pictures/hosting/Hosti...  157827628  ...
34662  https://a0.muscache.com/pictures/hosting/Hosti...   71645815  ...
34663  https://a0.muscache.com/pictures/miso/Hosting-...  568054601  ...

      review_scores_communication review_scores_location review_scores_value  \
0                            4.92                   4.86                4.57
1                            4.97                   4.90                4.79
2                            4.93                   4.89                4.67
3                            4.90                   4.93                4.57
4                            4.96                   4.97                4.90
...                           ...                    ...                 ...
34659                         NaN                    NaN                 NaN
34660                         NaN                    NaN                 NaN
34661                         NaN                    NaN                 NaN
34662                         NaN                    NaN                 NaN
34663                         NaN                    NaN                 NaN

      license instant_bookable calculated_host_listings_count  \
0        None            False                              4
1        None            False                              8
2        None            False                              4
3        None            False                              2
4        None            False                              2
...       ...              ...                            ...
34659    None            False                              1
34660    None            False                              1
34661    None            False                              1
34662    None             True                             23
34663    None            False                              1

      calculated_host_listings_count_entire_homes  \
0                                               4
1                                               8
2                                               4
3                                               2
4                                               2
...                                           ...
34659                                           0
34660                                           0
34661                                           0
34662                                          20
34663                                           1

      calculated_host_listings_count_private_rooms  \
0                                                0
1                                                0
2                                                0
3                                                0
4                                                0
...                                            ...
34659                                            1
34660                                            1
34661                                            1
34662                                            3
34663                                            0

      calculated_host_listings_count_shared_rooms reviews_per_month
0                                               0              1.05
1                                               0              0.90
2                                               0              0.57
3                                               0              0.28
4                                               0              0.71
...                                           ...               ...
34659                                           0               NaN
34660                                           0               NaN
34661                                           0               NaN
34662                                           0               NaN
34663                                           0               NaN

[34664 rows x 75 columns]

## Resumo:

coluna price: 972 nulos

coluna review_scores_rating: 8446 nulos